@import '../../../../assets/variables.scss';

.header {
    // color: $heading-blue;
    // font-family: Poppins;
    // font-size: 17px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: normal;
    // margin-left: 25px;

    color: #EE3F5F;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 24px;
    margin-left: 15px;
    margin-top: 5px;
}