$primary: #000000;
$secondary: #f77e37;
$header-grey: #f2f2f2;
$action-beige: #FBF4E4;
$heading-blue:#303778;
$heading-path:#EE3F5F;
$background-gray:rgba(203, 215, 246, 0.10);
$button-color:#EE3F5F




// microsoft -> variables_microsoft.scss
// replace variables.scss with variables_`${client_name}`.scss
//